*{
    margin: 0 auto;
    padding: 0%;
    box-sizing: border-box;
}
body{
    width: 80%;
}

header{
    background-color: violet;
    width: 100%;
    height: 50px;
}

div{
    background-color: goldenrod;
    width: 100%;
    
}